{% extends 'portfolio/home.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/blogs.css' %}">

<!--blogs page -->

    <h1>All Blogs</h1>

</div>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          {% for blog in blogs %}
          <a href="{% url 'blog:blog_detail' pk=blog.pk %}"><h3>{{ blog.title }}</h3></a>
          <p>{{ blog.date|date:'M d Y'}}</p>
        <!--truncatechars cuts off content and adds elipsies-->
          <p class='content'>{{ blog.content|safe|truncatechars:20 }}</p>
          {% endfor %}
        </div>
      </div>

    </div>

  {% endblock %}
